<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>Body Information Record</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{{ url_for('static',filename='assets/logo/favicon.png')}}">
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css')}}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/linearicons.css')}}">

        <!--flaticon.css-->
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/flaticon.css')}}">

		<!--animate.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/animate.css')}}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.carousel.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.theme.default.min.css')}}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css')}}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootsnav.css')}}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsive.css')}}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="{{ url_for('index')}}">Wounded Information Recording<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
									<li class=" scroll active"><a href="#home">home</a></li>
									<li class="scroll"><a href="#Wounded">The Wounded Detail</a></li>
									<li class="scroll"><a href="#Info">Missing People Info</a></li>
				                    <!-- <li class="scroll"><a href="#service">service</a></li>
				                    <li class="scroll"><a href="#featured-cars">featured cars</a></li>
				                    <li class="scroll"><a href="#new-cars">new cars</a></li>
				                    <li class="scroll"><a href="#brand">brands</a></li>
				                    <li class="scroll"><a href="#contact">contact</a></li> -->
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Please record the information below.</h2>
					<!-- <p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua. 
					</p> -->
					<!-- <button class="welcome-btn" onclick="window.location.href='#'">contact us</button> -->
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>Gender</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">Gender</option><!-- /.option-->

											  	<option value="1"> Male </option><!-- /.option-->

											  	<option value="2">Female</option><!-- /.option-->
											  	<option value="3">Other</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>Height</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">Height</option><!-- /.option-->

											  	<option value="1">-160</option><!-- /.option-->

											  	<option value="2">160-170</option><!-- /.option-->
												<option value="3">170-180</option><!-- /.option-->
												<option value="4">180-190</option><!-- /.option-->
												<option value="5">190-</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>Age</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">Age</option><!-- /.option-->

											  	<option value="1">0-30</option><!-- /.option-->

											  	<option value="2">30-60</option><!-- /.option-->
											  	<option value="3">>60</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
									<div class="single-model-search">
										<h2>Dead or Alive</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<option value="default">Dead or Alive</option><!-- /.option-->

											  	<option value="dead">Dead</option><!-- /.option-->

											  	<option value="alive">Alive</option><!-- /.option-->

											</select><!-- /.select-->
										</div><!-- /.model-select-icon -->
									</div>
								</div>
								
								<div class="col-md-5 col-sm-12">
									<div class="single-model-search text-center">
										<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
											Enter
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--service start -->
		<section id="Wounded" class="service">
			<div class="container">

					<form class="form-horizontal" method="POST" action="/result/">
							<div class="container">
								<div class="row col-md-100" >
									<h3>Please submit the rescue information (if any):</h3>
								</div>


								<br>


								<div class="row form-group">
									<label class="control-label col-lg-2" for="name">Name</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="name" id="name" type="text" placeholder="">
									</div>
								</div>

								<div class="row form-group">
									<label class="control-label col-lg-2" for="gender">Gender</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="gender" id="gender" type="text" placeholder="Male or Female">
									</div>
								</div>

								<div class="row form-group">
									<label class="control-label col-lg-2" for="age">Age</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="age" id="age" type="text">
									</div>
								</div>

								<div class="row form-group">
									<label class="control-label col-lg-2" for="height">Height</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="height" id="height" type="text">
									</div>
								</div>

								<div class="row form-group">
									<label class="control-label col-lg-2" for="condition">Health Condition</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="condition" id="condition" type="text" placeholder="Dead or Alive">
									</div>
								</div>
								
								<div class="row form-group">
									<label class="control-label col-lg-2" for="id">ID</label>
									<div class="col-lg-5 col-md-6">
										<input class="form-control" name="id" id="id" type="text">
									</div>
								</div>
								<div class="row form-group">
									<label class="control-label col-lg-2" for="contact">Contact</label>
									<div class="col-lg-5 col-md-6">
										<textarea class="form-control" rows="5" name="contact"></textarea>
									</div>
								</div>
								<div class="row form-group">
									<label class="control-label col-lg-2" for="location">Location</label>
									<div class="col-lg-5 col-md-6">
										<textarea class="form-control" rows="5" name="location" ></textarea>
									</div>
								</div>

								<div class="row form-group">
									<label class="control-label col-lg-2" for="photo">Photo URL</label>
									<div class="col-lg-5 col-md-6">
										<textarea class="form-control" rows="5" name="photo" ></textarea>
									</div>
								</div>



								<input type="text" style="visibility: hidden;" name="formid" value="0" />
								<div class="form-group">
										<div class="col-sm-5 col-sm-5">
											<button type="submit" class="welcome-btn model-search-btn" id="btn-test">Submit</button>
										</div>
								</div>
						
					


							</div>
						</form>
					



				
			</div><!--/.container-->

		


			<!--service start -->
		<section id="Info" class="featured-cars">
			<div class="container">

				<form class="form-horizontal" role="form" method="POST" action="/result/">
                    <fieldset>
                        <legend>Relative Side Information Collection</legend>
                       <div class="form-group">
                          <label class="col-sm-2 control-label" for="id">ID</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_id" type="text" name="id" placeholder=""/>
                          </div>
                          <label class="col-sm-2 control-label" for="age">Age</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_age" name="age" type="text" placeholder="20"/>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-sm-2 control-label" for="name">Name</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_name"  name="name" type="text" placeholder="Please enter your name"/>
                          </div>
                          <label class="col-sm-2 control-label" for="gender">Gender</label>
                          <div class="col-sm-4">
                             <input class="form-control" id="ds_gender"  name="gender" type="text" placeholder="Male or Female"/>
                          </div>
					   </div>
					   <div class="form-group">
						<label class="col-sm-2 control-label" for="height">Height</label>
						<div class="col-sm-4">
						   <input class="form-control" id="ds_height"  name="height" type="text" />
						</div>
						<label class="col-sm-2 control-label" for="weight">Weight</label>
						<div class="col-sm-4">
						   <input class="form-control" id="ds_weight" name="weight"  type="text" />
						</div>	

						




					 </div>
                    </fieldset>     
                    <fieldset>
						 <legend>Contact Information</legend>
						 
						 <div class="form-group">
							<label class="col-sm-2 control-label" for="location">Location</label>
							<div class="col-sm-4">
							   <input class="form-control" id="ds_location" name="location" type="text" placeholder="汶川县"/>
							</div>
							<label class="col-sm-2 control-label" for="contact">Contact Method</label>
							<div class="col-sm-4">
							   <input class="form-control" id="ds_contact" name="contact" type="text" placeholder="Email or Phone"/>
							</div>	
						</div>
						
                    </fieldset>
                    
                    <fieldset>
						<legend>Other Information</legend>
						 
						 <div class="form-group">
							<label class="col-sm-2 control-label" for="health">Health Condition</label>
							<div class="col-sm-4">
							   <input class="form-control" id="ds_health" name="health" type="text" placeholder=""/>
							</div>
							<label class="col-sm-2 control-label" for="photo">Photo URL</label>
							<div class="col-sm-4">
							   <input class="form-control" id="ds_photo" name="photo" type="text" placeholder=""/>
							</div>	
						</div>

					</fieldset>
					<input type="text" style="visibility: hidden;" name="formid" value="1" />

					<div class="form-group">
						<div class="col-sm-5 col-sm-5">
							<button type="submit" class="welcome-btn model-search-btn" id="btn-test">Submit</button>
						</div>
					</div>

					


                </form>
					

			</div><!--/.container-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="static/assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="static/assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="static/assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="static/assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="static/assets/js/custom.js"></script>
        
    </body>
	
</html>